body {
    background-color: #f1f0ed;
    background-size: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
    margin: 0;
}
header {
    background-color: #e48f13;
    height: 70px;
    line-height: 70px;
}
header nav {
    margin: 0;
    max-width: 1100px;
    max-height: 50px;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translate(-550px, 0);
}

.header-nav-a-left {
    height: 50px;
}

.header-nav-button {
    display: inline-block; /* Строчно-блочный элемент */
    background: white; /* Серый цвет фона */
    color: #e48f13;
    vertical-align: center;
    position: relative;
    padding: 0 15px;
    max-height: 50px;
    top: -10px;
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px;
}
.header-nav-button p{
    margin: 0;
    padding: 0;
    position: relative;
    top: -10px;
}
.header-nav-button img{
    margin: 0;
    padding: 0;
    position: relative;
    top: 5px;
}

.header-nav-signIn {
    float: right;
    display: inline-block; /* Строчно-блочный элемент */
    height: 50px;
    width: 100px;
    background-color: white;
    vertical-align: center;
    position: relative;
    text-decoration: none; /* Убираем подчёркивание */
    border-radius: 3px;
    color: #e48f13;
    text-align: center;
}

.header-nav-signIn p{
    margin: 0;
    padding: 0;
    position: relative;
    top: -10px;
}

main {
    flex: 1 0 auto;
    margin: 20px auto;
    width:1040px;
    min-height: 64%;
    padding:30px;
    background-color: white;
}
main h1{
    padding:0 0 0 0;
}
main blockquote{
    width: 220px;
    float: right;
}
main blockquote p{
    text-align: center;
}
main blockquote cite {
    text-align: right;
}

footer {
    bottom:0;
    left:0;
    width:100%;
    height: 90px;
    background-color: #e48f13;
    display: flex;
    flex: 0 0 auto;
    margin: 0;
    justify-content: center;
}
footer ul li {
    display: inline-block;
    padding: 20px;
}
footer ul li a{
    text-decoration: none; /* Убираем подчёркивание */
    color: black;
}
.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

ul {
    list-style-type: none;
    padding: 10px;
}