.img_slider{
    padding: 0;
    margin: 0;
    overflow: hidden;
    border-radius: 5px;
    align-items: center;
    display: flex;
    justify-content: center;
    aspect-ratio: 4/5;
}

.img_slider img{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.img_slider a{
    width: 100%;
    height: 100%;
}

.slick-dots {
    margin-bottom: -2rem;
}

.slick-dots li button:before {
    /*opacity: 1;*/
}

.register-button {
    background-color: white;
    color: #e48f13;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
    border: none;
    font-weight: 600;
    margin-top: 10px;
    height: 100px;
    border-radius: 5px;
}

.register-button:hover {
    color: white;
    background-color: #e48f13;
    border-radius: 5px;
}
@media screen and (max-width: 1199px) {
    .img_slider{
        margin-top: 10px;
        width: 95%;
    }
    .register-button{
        display: none;
    }
}

@media screen and (min-width: 1200px) {
    .img_slider{
        width: 200px;
    }
    .register-button {
        width: 200px;
    }
}

@media screen and (min-width: 1600px) {
    .img_slider{
        width: 250px;
    }
    .register-button {
        width: 250px;
    }
}
@media screen and (min-width: 2200px) {
    .img_slider{
        width: 375px;
    }
    .register-button {
        width: 375px;
    }
}