body {
    background-color: #f1f0ed;
    background-size: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
html {
    height: 100%;
    margin: 0;
}

footer {
    bottom:0;
    left:0;
    width:100%;
    min-height: 70px;
    background-color: #e48f13;
    display: flex;
    flex: 0 0 auto;
    margin: 0;

    justify-content: center;
}
footer ul li {
    display: inline-block;
    padding: 10px 25px 10px 25px;
}
footer ul li a{
    text-decoration: none; /* Убираем подчёркивание */
    color: black;
}
#load-time {
    text-align: center;
}